.container {
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 15px;
    border: 1px rgb(0, 0, 0) solid;
    width: 20%;
    overflow: hidden;
}
#mainheader {
    background-color: grey;
    text-align: center;
    color: blue;
    padding: 10px;
}
#formData {
    margin: o auto;
    text-align: center;
    color: rgb(179, 2, 2);
    padding: 10px;
}
#registrationLael {
    text-align: left;
    margin-left: 21px;
}
#singInLabel {
    text-align: center;
}
#age {
    width: 30px;
}